@import "tailwindcss";

@keyframes spin-slower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.animate-spin-slower {
  animation: spin-slower 20s linear infinite;
}
